@model IEnumerable<project3.Models.Teacher>
@{
    ViewBag.Title = "ListT";
}

<a class="navlink" href="/">Back to home    </a>
<h2>listT</h2>
<div id="containerlist">
    <h2>list of Teachers</h2>
    @foreach (var Teacher in Model)
    {
        <div class="listitem row ">
            <div class="col-md-12"><a href="/Teacher/ShowTeachers/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a></div>
        </div>
    }

</div>



