
@{
    ViewBag.Title = "New";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/ListTeachers">Back To Teacher</a>
    </nav>
    <h2>New Teacher</h2>
    <form method="POST" action="/Teacher/Create">
        <div class="inputrow">
            <label for="teacherfname">First Name:</label>
            <input type="text" id="teacherfname" name="teacherfname" />

        </div>
        <div class="inputrow">
            <label for="teacherlname">Last Name:</label>
            <input type="text" id="teacherlname" name="teacherlname" />

        </div>
        <div class="inputrow">
            <label for="employeenumber">employee number:</label>
            <input type="text" id="employeenumber" name="employeenumber" />
        </div>
        <div class="inputrow">
            <label for="salary">salary:</label>
            <div>
                <textarea id="salary" name="salary"></textarea>
            </div>
        </div>
        <div class="inputrow">
            <input type="submit" value="Create teacher" />
        </div>
    </form>
</div>
