@model IEnumerable<project3.Models.Classes>
@{
    ViewBag.Title = "List";
}

<a class="navlink" href="/">Back to home    </a>
<h2>list</h2>
<div id="containerlist">
    <h2>list of classes</h2>
    @foreach (var Classes in Model)
    {
        <div class="listitem row ">
            <div class="col-md-12"><a href="/Classes/ShowClasses/@Classes.ClassId">@Classes.ClassCode </a></div>
        </div>
    }

</div>



